<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yyh.dao.UserDao">
    <!--注意事项-->
    <!--1：如果parameterType为简单类型（基本类型+String类），#{}中的参数名称可以任意-->
    <!--2：如果parameterType为POJO类型，#{}中的参数名称必须和POJO中的属性名称一致-->
    <!--3：如果resultType为POJO类型，SELECT中的列名和POJO中的属性名称一致-->
    <select id="findUserById" parameterType="int"
            resultType="com.yyh.pojo.User">
        SELECT *
        FROM t_user
        WHERE id = #{id}
    </select>

    <insert id="insertUser" parameterType="com.yyh.pojo.User">
        <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
            SELECT LAST_INSERT_ID() AS id
        </selectKey>
        INSERT INTO t_user(username, birthday, sex, address)
        VALUES (#{username}, #{birthday}, #{sex}, #{address})
    </insert>

    <resultMap type="com.yyh.pojo.Order" id="BaseResultMap">
        <id column="id" property="id"/>
        <result column="user_id" property="userId"/>
        <result column="number" property="number"/>
        <result column="createtime" property="createTime"/>
        <result column="note" property="note"/>
        <!--一对一关联映射-->
        <!--
            property: Order对象的user属性
            javaType: user属性对应的类型
        -->
        <association property="user" javaType="com.yyh.pojo.User">
            <!-- column:user表的主键对应的列 property：user对象中id属性-->
            <id column="user_id" property="id"/>
            <result column="username" property="username"/>
            <result column="address" property="address"/>
        </association>
    </resultMap>

    <select id="findOrdersAndUser" resultMap="BaseResultMap" parameterType="java.lang.Integer">
        SELECT o.id,
               o.user_id,
               o.number,
               o.createtime,
               o.note,
               u.username,
               u.address
        FROM t_order o
                 LEFT JOIN t_user u ON u.id = o.user_id
        WHERE o.id = #{id}
    </select>

    <resultMap id="UserResultMap" type="com.yyh.pojo.User">
        <id column="id" property="id"/>
        <result column="username" property="username"/>
        <result column="address" property="address"/>
        <collection property="orderList" ofType="com.yyh.pojo.Order">
            <id column="oid" property="id"/>
            <result column="user_id" property="userId"/>
            <result column="number" property="number"/>
            <result column="createtime" property="createTime"/>
            <result column="note" property="note"/>
        </collection>
    </resultMap>

    <select id="findUserAndOrder" resultMap="UserResultMap">
        SELECT u.*, o.id oid, o.number, o.createtime, o.note
        FROM t_user u
                 LEFT JOIN t_order o ON u.id = o.user_id
        WHERE u.id = #{id}
    </select>
</mapper>
